@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-dark"><strong><u>About us</u></strong></h1>
    <style>
        body {
            background-color:antiquewhite;
            margin-top: 0px;
            margin-left: 0px;
        }
    </style>
</div>

<html>
<head>
    <style>
        h1 {
            text-align: center;
        }
    </style>

</head>
<body>

    <h1><strong><font size="10">About Health Advice Group</font></strong></h1>
    <p>
    <p>
        <strong>
            <font size="5">
                Health Advice Group offers a range of environmental health advice with highly qualified health specalists to patients who are
                struggling with a cold, hayfever etc, and to make sure our patients recieve the best advice possible including how to deal with seasonal 
                symptoms. <br />

                It was founded in 1956 by Mark Henderson in London, England. He became most famous for the success of Health Advice Group,
                reaching a maximum net worth of around £4.5 billion.
            </font>
        </strong>
    </p>


    <h1><b><font size="8">Our resposibilities</font></b></h1>
    <h2>We are responsible for:</h2>
    <p><font size="4">● setting direction: we anticipate the future and lead debate ensuring we protect and improve global and domestic health</font></p>
    <p><font size="4">● accountability: we make sure the department and our arm’s length bodies deliver on our agreed plans and commitments</font></p>
    <p><font size="4">● acting as guardians of the health and care framework: we make sure the legislative, financial, administrative and policy frameworks are fit for purpose and work together</font></p>
    <p><font size="4">● troubleshooting: in the last resort, the public and Parliament expect us to take the action needed to resolve crucial and complex issues</font></p>

    <br />

    <h1><b><font size="8">Our Priorities</font></b></h1>
    <h2>From 2022-2023 we will:</h2>
    <p><font size="4">● improve healthcare outcomes by providing high-quality and sustainable care at the right time in the right place and by improving infrastructure and transforming technology</font></p>
    <p><font size="4">● improve healthcare outcomes through a well-supported workforce</font></p>
    <p><font size="4">● improve, protect and level up the nation’s health, including through reducing health disparities</font></p>
    <p><font size="4">●improve social care outcomes through an affordable, high quality and sustainable adult social care system</font></p>




   


</body>
</html>
<a button type="button" class="blocks" id="Btn" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCity">Click here for our Weather Forecast page</a>
<a button type="button" class="blockd" id="Btn" asp-area="" asp-controller="Home" asp-action="Privacy">Click here for our Privacy page</a>

