@{
    ViewData["Title"] = "Home Page";
}

<h1><b>Thank you your message has been sent</b></h1> <br />
<img class="parentDivs" width="400" height="300" src="https://t3.ftcdn.net/jpg/03/39/55/42/360_F_339554253_Ec2atxHQKkhf6C3BR18sC2zO9Uc818X6.jpg">

<a <font size="4" onclick="history.back()">Click here to go back </font></p> </a>

<br />

<a style="text-align:right"<font size="4" href="index">Click here to go back to home </font></p> </a>

