@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-dark"><strong><u>Advice For You</u></strong></h1>
    <style>
        body {
            background-color:antiquewhite;
            margin-top: 0px;
            margin-left: 0px;
        }
    </style>
</div>

<html>
<body>

    <img align="right" src="https://t4.ftcdn.net/jpg/02/48/31/31/360_F_248313168_BRi5ZPy2uIn9gwyNf7CTBLc2wBuwX5pZ.jpg">
</body>
</html>

<html>
<head>
    <style>
        h1 {
            text-align: center;
        }
    </style>

</head>
<body>

    <h1><strong><font size="7"></font></strong></h1>
    <p>
    <p>

        <font  size="6">
           <u>The tips and resources below will help you learn about actions you can take to
                protect yourself and others from flu and help stop the spread of germs.
            </u>
         </font>

    </p>
</body>

<html>
<head>
    <style>
        h1 {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1><strong><font size="5">1. Avoid close contact.</font></strong></h1>
    <p>
    <p>
        <font size="4">
           Avoid close contact with people who are sick. When you are sick, 
           keep your distance from others to protect them from getting sick too.

        </font>



    </p>
</body>


<html>
<head>
    <style>
        h1 {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1><strong><font size="5">2. Stay home when you are sick.</font></strong></h1>
    <p>
    <p>
        <font size="4">
            If possible, stay home from work, school, and errands when you are sick. This will help prevent spreading your illness to others.
        </font>



    </p>
</body>


<html>
<head>
    <style>
        h1 {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1><strong><font size="5">3. Cover your mouth and nose.</font></strong></h1>
    <p>
    <p>
        <font size="4">
        Cover your mouth and nose with a tissue when coughing or sneezing. 
        It may prevent those around you from getting sick.
        Flu viruses spread mainly by droplets made when people with flu cough, sneeze or talk.
        </font>

        

    </p>
    
       
    
</body>
<html>
<head>
    <style>
        h1 {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1><strong><font size="5">How to stay safe from bad weather conditions:</font></strong></h1>

    <p><font size="4">1. Avoid contact with conductors of electricity, appliances, metal objects and water.</font></p>
    <p><font size="4">2.Take safe shelter immediately inside a sturdy building, away from windows, doors and electrical appliances.</font></p>
    <p><font size="4">3.Wear several layers of loose fitting, lightweight, warm clothing rather than one layer of heavy clothing. The outer garments should be tightly woven and water repellent.</font></p>
    <p><font size="4">4.Wear a hat. Cover your mouth with a scarf to protect your lungs. </font></p>


------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    <h1><strong><font size="5">Should you still go outside in good weather conditions?</font></strong></h1>

    <p><font size="4">1.Try to stay out of the sun, particularly when it is at its highest between 11am and 3pm.</font></p>
    <p><font size="4">2.Stock up on supplies like medicines, food and non-alcoholic drinks, so you won’t have to go out in the heat.</font></p>
    <p><font size="4">3open your windows at night – when it's cooler.</font></p>
    <p><font size="4">4.keep drinking fluids.</font></p>
    <p><font size="4">5.if you feel sick or dizzy, keep out of the sun and seek medical advice.</font></p> <br />



    <img class="parentDiv" width="200" height="200" src="https://t4.ftcdn.net/jpg/05/37/83/29/360_F_537832957_4l2KOuExgVAQov4H2CSY1oMdwUwsX1Hk.jpg">

    <a <font size="4" href="https://www.nidirect.gov.uk/articles/hot-weather-advice">Click here for more advice on how to stay safe in weather conditions </font></p> </a>

 

</body>


</html>


    <div class="container">

        <div class="form-group col-md-offset-3 col-md-5">
            <br />
            <div>
                <form method="get">

                    <input type="button" value="Previous Page!" onclick="history.back()" class="btn btn-dark"> <br />
                </form>
            </div>
        </div>
    </div>
    <br />

<a button type="button" class="blockh" id="Btn" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCity">Click here for our Weather Forecast page</a>
<a button type="button" class="blockd" id="Btn" asp-area="" asp-controller="Home" asp-action="Privacy">Click here for our Privacy page</a>
