@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h1 class="display-4 text-dark"><strong> </strong></h1>
    <style>
        body {
            background-color: antiquewhite;
            margin-top: 0px;
            margin-left: 0px;
        }
    </style>
</div>

<html>
<head>
    <style>
        h1 {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1><strong><font size="6">Data Protection and Privacy Policy Statement</font></strong></h1>
    <p>
    <p>

        <font size="4">
            Our Data Protection and Privacy Policy statement is to confirm your privacy rights and how the law protects you.
        </font>

    </p>
</body>

<html>
<head>
    <style>
        h1 {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1><strong><font size="6">Who we are? What services do we provide?</font></strong></h1>
    <p>
    <p>
        <font size="4">
            Health Advice group, founded in 1956, is an health company providing
            personal advice and environmental support to clients of all ages and backgrounds.

            In each of the Areas of the world where we operate, there is a health advice group Area Advisor /
            health Manager based locally in the region. These are all committed health professionals who abide by our Health Advice Group  ethics and standards  of service.
            Each Area Advisor registers clients for that region and provides the health services and support to those who request help throughout that Area.


        </font>



    </p>
</body>

<html>
<head>
    <style>
        h1 {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1><strong><font size="6">We explain in this Privacy Policy:</font></strong></h1>

    <p><font size="4">1. How we look after your personal data</font></p>
    <p><font size="4">2.The reasons for sharing your personal data when we have a legitimate reason to do so</font></p>
    <p><font size="4">3.How to contact us if you wish to have the personal data that we have about you, reviewed or removed </font></p>

    <br />
    <h1><b>What Information Do We Collect & Why</b></h1>
    <p>We are committed to protecting your personal data and will only process the data if we need to for a specific purpose and providing we have a legal basis, as explained below.</p>
    <br />
    <p>There are various legal bases on which we may collect and process your data. We may have your consent, for example, you have informed us that you are happy for us to process your information for a specific purpose such as providing a service to you or receiving further information about what we do. Please note we may not be able to enter into a contract with you in the absence of data.</p>
    <br />
    <p>Sometimes there is a contractual reason such as when we are commissioned to do the National Child Measurement Programme (NCMP), here the data results are closely protected with no information about individual children’s weights or heights disclosed to school staff or other pupils. Everyone Health store this data securely. Parents will be informed of their child’s results and aggregate data will be shared with the Department of Health. We recognise we are the processor of NCMP data and that the controller is NHS Digital.</p>

    <br />

    <h1><b>How Do We Store And Protect Your Personal Information</b></h1>
    <p>
        We maintain secure systems to protect your personal information
    </p>
    <p>
        We respect your wishes about how we contact you, whether by post, telephone, email or text message
    </p>
    <p>
        We will update your information or preferences promptly when you ask us to
    </p>
    <p>
        We will respond fully to requests from you to see the information that we hold on you.
    </p>
    <p>We will not hold your personal information for longer than is necessary. The amount of time data is kept before being disposed of will vary depending on why it was collected, how it is used, and in line with any applicable UK laws. We follow strict procedures when storing or handling information that you have given us.
</p>
    <p>
        We will never sell your personal information to a third party.
    </p>

    <br />

    <h1><b>Any problems? Contact us</b></h1>
    <a <font size="4" href="Contact">Contact us here </font></p> </a>
</body>





    <div class="container">

        <div class="form-group col-md-offset-3 col-md-5">
            <br />
            <div>
                <form method="get">

                    <input type="button" value="Previous Page!" onclick="history.back()" class="btn btn-dark">
                </form>
            </div>
        </div>
    </div>

<a button type="button" class="blockg" id="Btn" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCity">Click here for our Weather Forecast page</a>
<a button type="button" class="blockd" id="Btn" asp-area="" asp-controller="Home" asp-action="Advice">Click here for our Advice page</a>
