@{
    ViewData["Title"] = "Home Page";
}

<h1><b>Thank you your message has been sent</b></h1> <br />
<img class="parentDivs" width="400" height="300" src="https://t3.ftcdn.net/jpg/03/39/55/42/360_F_339554253_Ec2atxHQKkhf6C3BR18sC2zO9Uc818X6.jpg">

<a onclick="history.go(-1)" class="btn btn-primary">Go back!</a>
<br />
<br/>
<br/>

<a href="Index" class="btn btn-primary">Go to Home page!</a>v

